.topBtns{
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.btn:first-child{
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn:last-child{
    margin-left: auto;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.searchBar {
    border: none;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    box-shadow:1px 1px 1px 1px rgba(0,0,0,0.21);
}

.searchBar:enabled {
    outline: none;
}

h5 {
    margin-top: 20px;
}
ul{
    padding: 0px;
}

li {
    list-style: none;
    margin-bottom: 10px;
    padding-top: 3px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow:1px 1px 1px 1px rgba(0,0,0,0.21);
    width: 100%;
}
h6{
    margin: 0px;
}
p{
    display: inline;
    font-size: xx-small;
    margin-right: 30px;
}

@media only screen and (max-width: 440px) {
    .topBtns{
        grid-template-columns: 100%;
    }
    .btn{
        width:100%;
    }
}

@media only screen and (max-width: 230px) {
    .topBtns{
        grid-template-columns: 100%;
    }
    .btn{
        width:100%;
        height: 45px;
    }
}