<div>
  <div class="topBtns">
    <button class="btn" routerLink="/quote">Homepage</button> <!-- Homepage button, could be a go Back -->
    <button class="btn" (click)="persist()">Persist Quotes</button> <!-- Persiste button -->
  </div>
  <div class="main">
    <div>
      <input
        #searchInput
        class="searchBar"
        type="text"
        placeholder="Search"
        (input)="search(searchInput.value)" 
      /> <!-- Input to send the information to be searched -->
    </div>
    <div *ngIf="loading; else elseBlock">
      <ul>
        <li *ngFor="let quote of this.quotes">
          <h6 class="quote">
            <cite>{{ quote.quoteData?.quote }}</cite> -
            {{ quote.quoteData?.role }}
          </h6>
          <p>Show: {{ quote.quoteData?.show }}</p>
          <p>Last quote date: {{ quote.created_date }}</p>
        </li>
      </ul>
    </div>
    <ng-template #elseBlock> <h5>No movie quotes...</h5></ng-template> <!-- Else Block, shows if there is no movie quotes to be loaded-->
  </div>
</div>
