/* You can add global styles to this file, and also import other style files */
* {
    font-family: sans-serif;
}

.main {
    margin: auto;
    width: 50%;
    text-align: center;
}

.btn {
    border: 2px solid #0d6efd;
    border-radius: 5px;
    background-color: white;
    margin: 10px;
    height: 30px;
    width: fit-content;
}

.btn:hover {
    background-color: #0d6efd;
    color: white;
}
.btn:active{
    background-color: #1d77ff;
}
